<div style="background-color: #FED071;">
  <div class="container">
  </div>


  <div class="d-flex  justify-content-center align-items-center " style="height: 100vh;">
    <div
      style="background-color: rgba(255, 253, 253, 0.334); height: 400px; width: 350px; box-shadow: 0px 1px 10px black; border-radius: 15px;">
      <div class=" d-flex justify-content-center h-auto d-inline">

        <small class="text-center mt-4 "
          style="font-weight: bold; font-size: 18px;   text-shadow: 0px 1px 2px black;">Password
          generator</small>
      </div>
      <div class="container px-xl-3 mt-4">
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="passwordlength"
          style="box-shadow: 0px 1px 5px black; " placeholder="Enter the length of the password">
      </div>
      <div class="container mt-4 d-flex px-xl-3 justify-content-around">
        <input class="form-check-input" [(ngModel)]="small" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Small</label>
        <input class="form-check-input" [(ngModel)]="capital" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Capital</label>
        <input class="form-check-input" [(ngModel)]="number" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Number</label>
        <input class="form-check-input" [(ngModel)]="special" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">Special</label>



      </div>
      <div class="container mt-4 px-xl-3 ">

        <button type="submit" (click)="generate()" class="btn btn-success btnn w-100"
          style="font-weight: bold; box-shadow: 0px 1px 5px black;">Generate</button>
      </div>
      <ng-container *ngIf="newpassword">
        <div class="container mt-5 px-xl-3 d-flex justify-content-center  gap-4">


          <div style="font-weight: bold; font-size:x-large; "> {{newpassword}}</div>

          <button type="submit" (click)="copy()" class="cop btn btn-dark ms-1 "
            style="font-weight: bold; box-shadow: 0px 1px 3px black; ">Copy</button>
        </div>
        <!-- <p class="container text-center pt-4 " style="font-weight: bold; color: crimson; font-size: small;">
          <span>note:</span>you can
          only
          copy at once
        </p> -->
      </ng-container>

    </div>

  </div>
</div>